# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.emacs-places
.dbus/session-bus/e2096be0ec3d7fbbc35bee4a5390a399-0
.cache/dconf/user
.ido.last
.bash_history
.emacs.d/elpa/*
.emacs.d/backups/*
.recentf
.emacs.d/auto-save-list/*
.emacs.d/savehist
*.org~
.dbus/session-bus/43023d88c54857910a8c6fb651f71d29-0
.dbus/session-bus/4616896a11f2605b8241024c51edf4a9-0
.emacs.d/ido.last
.smex-items
*.txt#
.emacs.d/init.el
.emacs.d/my-emacs.el
.emacs.d/init.el
.emacs.d/init.el
.emacs.d/init.el
Dropbox
.emacs.d/places
.emacs.d/bookmarks
.emacs.d/init.el